#reach {
  position: relative;
  left: 45%;
  transform: translate(-30%);
  padding-top: 1vh;
  padding-right: 8rem;
}

.products {
  position: relative;
  left: 6rem;
  transform: translate(-35%);
  padding-bottom: 5vh;
  justify-content: center;
}


.dm {
    flex: auto;
    width: 50%;
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 3%;
    align-items: center;
}
.mails {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.mail {
    background: white;
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1.5px solid navy;
    transition: var(--transition);
}

.mail:hover {
    background: transparent;
    border-color: navy;
}

.mail-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.mail h5 {
    color: navy;
    font-size: medium;
}

.mail a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}


form {
  display: flex;
  flex-direction: column;
  gap: 1.0rem;
  align-items: center;
}

input,
textarea {
  width: 100%;
  padding: 0.7rem;
  border-radius: 0.5rem;
  background: white;
  border: 1.5px solid navy;
  resize: none;
  color: navy;
}

element.style{
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.contact__option-icon {
  font-size: 2rem;
}

h4 {
  color: orangered;
}

h5 {
  color: navy;
}


@media screen and (max-width: 1024px) {
    .dm {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }
  
  @media screen and (max-width: 600px) {
    .dm {
      width: var(--container-width-sm);
    }
  }
  