.mission__art{
    font-size: large;
    text-align: center;
    padding-top: 2rem;
}

h3{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
    text-decoration: underline;
}

h3 {
    color: orangered;
}

h6 {
    color: navy;
}

@media screen and (max-width: 940px) {
    .mission__art {
        display: block;
    }
}